<!-- your html code here POR JULIAN ANDRES RAMIREZ-->
<div class="container m-5">
    <div class="container justify-content-center" style="padding:0">
        <h3>
            <small class="text-body-secondary">Contact</small>
        </h3>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas neque dignissimos nam facilis? Natus
            consequuntur saepe dignissimos rem sequi, placeat nobis, odit, odio qui laudantium tempora. Adipisci, eius.
        </p>
    </div>

    <div class="container border" style="width: 60%;;">
        <div class="row mb-3" style="margin-top: 16px;">
            <label for="inputEmail3" class="col-sm-2 col-form-label"><strong>Email</strong></label>
            <div class="col-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Your email">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputTextarea" class="col-sm-2 col-form-label"><strong>Message</strong></label>
            <div class="col-10">
                <textarea class="form-control" placeholder="Please enter your message here..." id="inputTextarea"
                style="height: 100px"></textarea>

            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-bottom: 16px;">
            <button class="btn btn-primary me-md-2" type="button">Submit</button>
        </div>

    </div>

</div>